@use '../../../styles/abstract/color_variables' as colors;

:host {
    display: inline-block;
}

.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: var(--font-family-primary-button);
    
    &__primary{
        background-color: var(--button-primary-bg, #{colors.$secondary_orange});
        color: var(--button-primary-color, #{colors.$gothic_purple});
        border: none;
        padding: 12px 16px;
        border-radius: 10px;
        font-size: 1.125rem;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        transition: background-color 0.3s ease, padding-right 0.3s ease;
        
        &--icon{
            width: 0;
            height: 20px;
            margin-left: 0;
            opacity: 0;
            pointer-events: none;
            transform: translateX(-6px);
            object-fit: contain;
            transition: width 0.3s ease, margin-left 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
        }
    }
    &__primary:hover{
        background-color: var(--button-primary-hover-bg, #{colors.$light_orange});

    }
    &__primary:hover .button__primary--icon{
        width: 20px;
        margin-left: 12px;
        opacity: 1;
        transform: translateX(0);
    }

    &__secondary{
        background-color: colors.$light_orange_transparent_1;
        color: colors.$light_purple_3;
        border: none;
        padding: 8px 12px;
        border-radius: 10px;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        transition: background-color 0.3s ease;

        &--icon{
            width: 24px;
            height: 24px;
            object-fit: contain;
            transition: filter 0.3s ease;
        }
    }

    &__secondary:hover{
        background-color: colors.$light_orange_transparent_2;
    }

    &__tertiary{
        background-color: transparent;
        color: colors.$light_purple_3;
        line-height: 100%;
        border: none;
        border-bottom: 1px solid colors.$light_purple_3;
        padding: 0;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        

        &--icon{
            width: 24px;
            height: 24px;
            object-fit: contain;
            transition: filter 0.3s ease;
        }
    }

    &__filter{
        font-family: var(--font-family-secondary-button);
        background-color: colors.$light_pastel;
        color: colors.$dark_purple;
        border: none;
        padding: 2px 10px;
        border-radius: 20px;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

        &--isActive{
            background-color: colors.$light_orange;
        }
    }

    &__filter:hover{
        background-color: colors.$secondary_orange;
    }
}

.hidden{
    display: none;
}