<div class="main_content_wrapper body-color">
    <header>
        <img src="/assets/images/logo_orange.png" alt="Logo">
    </header>
    <section class="hero-section">
        <div class="headline-container">
            <h1 class="h1__hero">Collect Feedback,<br>Unlock Ideas</h1>
            <p class="headline-container__hero-description">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</p>
            <app-button [buttonType]="'primary'" [publishNewSurvey]="false" [text]="'New survey'" (click)="surveyService.openSurveyDialog()"></app-button>
        </div>
        <div class="hero-img-container">
            <img src="/assets/images/hero_img_default.png" alt="hero image" class="hero-img-container__default-img">
            <img src="/assets/images/hero_img_hover.png" alt="hero image hover" class="hero-img-container__hover-img">
        </div>
    </section>
    <section class="ending-soon-section">
        <h2 class="ending-soon-section__title">Your surveys</h2>
        <p class="ending-soon-section__description">Ending soon surveys</p>
        <div class="ending-soon-section__surveys">
                @for (survey of endingSoonSurveys(); track survey.id) {
                    <app-survey-card [survey]="survey" listType="ending_soon" [showsEndingSoonCard]="true"></app-survey-card>
                }
                @empty {
                    <app-survey-card [survey]="emptySurvey" listType="ending_soon" [showsEndingSoonCard]="true"></app-survey-card>
                }
        </div>
    </section>
    <section class="all-surveys-section">
        <nav class="nav-bar">
            <div class="nav-bar__button-container">
                <app-button [buttonType]="'filter'" [text]="'Active surveys'" [isActive]="buttonIsActive" (click)="showActiveSurveys()"></app-button>
                <app-button [buttonType]="'filter'" [text]="'Past surveys'" [isActive]="!buttonIsActive" (click)="showPastSurveys()"></app-button>
            </div>
            <app-category-menu [text]="'Select category'"></app-category-menu>
        </nav>
        <div class="all-surveys-section__surveys-frame">
            <div class="all-surveys-section__surveys-scroll">
                <div class="all-surveys-section__surveys">
                    @if (filteredSurveys().length > 0) {
                        @for (survey of filteredSurveys(); track survey.id) {
                            <app-survey-card [survey]="survey" listType="recently_edited" [showsEndingSoonCard]="false"></app-survey-card>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="all-surveys-section__no-surveys">
            @if (filteredSurveys().length === 0) {
            <p>No past surveys.</p>
            }
        </div>

    </section>
</div>
<app-survey-dialog style="display: none;"></app-survey-dialog>