@use '../../styles/abstract/color_variables' as colors;
@use '../../styles/layout/header.scss';
@use '../../styles/layout/page_shell.scss';

.body-color{
    background-color: colors.$dark_purple;
}

h1, h2, h3{
    font-family: "Nerko", sans-serif;
    font-weight: 400;
}

h1{
    font-size: 6.25rem;
    line-height: 89px;
    font-weight: 400;
    margin: 0;
    &.h1__hero{
        color: colors.$light_orange;
    }
}

.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 92px auto 0 auto;
    max-width: 1220px;
    width: 100%;
    box-sizing: border-box;
    gap: 32px;
}

.hero-img-container{
    width: 420px;
    aspect-ratio: 1/1;
    position: relative;
    margin-right: 48px;

    .hero-img-container:hover &__default-img{
        opacity: 0;
    }
    .hero-img-container:hover &__hover-img{
        opacity: 1;
    }

    &__default-img{
        position: absolute;
        max-width: 100%;
        transition: opacity 0.5s;
        opacity: 1;
        pointer-events: none;
    }

    &__hover-img{
        position: absolute;
        max-width: 100%;
        transition: opacity 0.5s;
        opacity: 0;
        pointer-events: none;
    }
}

.headline-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    
    &__hero-description{
        color: colors.$white;
        font-family: "Mulish SemiBold", sans-serif;
        font-size: 1.5rem;
        padding: 24px 46px 40px 0;
        margin: 0;
    }
}

.ending-soon-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 92px auto 0 auto;
    max-width: 1040px;
    width: 100%;
    box-sizing: border-box;

    &__title{
        color: colors.$light_orange;
        font-family: var(--font-family-headlines);
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 100%;
        margin: 0 auto;
    }

    &__description{
        color: colors.$white;
        font-family: var(--font-family-text-articles);
        font-size: 2rem;
        margin: 56px 0 32px 0;
    }

    &__surveys{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 32px;
        width: 100%;
    }
}

.all-surveys-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 40px auto 160px auto;
    max-width: 1040px;
    width: 100%;
    box-sizing: border-box;
    gap: 8px;

    &__surveys{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 16px;
    }
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &__button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
    }
}