<div class="main_content_wrapper body-color">
    <header>
        <img src="/assets/images/logo_orange.png" alt="Logo">
    </header>
    <section class="hero-section">
        <div class="headline-container">
            <h1 class="h1__hero">Collect Feedback,<br>Unlock Ideas</h1>
            <p class="headline-container__hero-description">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</p>
            <app-button [primary]="true" [text]="'New survey'"></app-button>
        </div>
        <div class="hero-img-container">
            <img src="/assets/images/hero_img_default.png" alt="hero image" class="hero-img-container__default-img">
            <img src="/assets/images/hero_img_hover.png" alt="hero image hover" class="hero-img-container__hover-img">
        </div>
    </section>
    <section class="ending-soon-section">
        <h2 class="ending-soon-section__title">Your surveys</h2>
        <p class="ending-soon-section__description">Ending soon surveys</p>
        <div class="ending-soon-section__surveys">
            @if (endingSoonSurvey(); as survey) {
                @for (survey of surveys(); track $index) {
                    <app-survey-card [survey]="survey" listType="ending_soon" [showsEndingSoonCard]="true"></app-survey-card>
                }
            } @else {
                <p>No surveys ending soon.</p>
            }
        </div>
    </section>
    <section class="all-surveys-section">
        <nav class="nav-bar">
            <div class="nav-bar__button-container">
                <app-button [primary]="false" [text]="'Active surveys'"></app-button>
                <app-button [primary]="false" [text]="'Past surveys'"></app-button>
            </div>
            <div class="nav-bar__menu-container">
                <button class="nav-bar__menu-button" (click)="toggleStateOfDropdownMenu()" [class.nav-bar__menu-button--is-open]="isMenuOpen">
                    Sort by categories
                    <div class="nav-bar__menu-button--arrow-container">
                        <img src="/assets/icons/arrow_drop_down_open_default.png" alt="Arrow Down" class="nav-bar__menu-button--default-img">
                        <img src="/assets/icons/arrow_drop_down_open_hover.png" alt="Arrow Down Hover" class="nav-bar__menu-button--hover-img">
                        <img src="/assets/icons/arrow_drop_down_open_active.png" alt="Arrow Down Active" class="nav-bar__menu-button--active-img">
                    </div>
                </button>
                <menu class="nav-bar__dropdown-content" [class.nav-bar__dropdown-content--is-open]="isMenuOpen">
                    <li>
                        <a class="nav-bar__dropdown-content__item">Team Activities</a>
                    </li>
                    <li>
                        <a class="nav-bar__dropdown-content__item">Health & Wellness</a>
                    </li>
                    <li>
                        <a class="nav-bar__dropdown-content__item">Gaming & Entertainment</a>
                    </li>
                    <li>
                        <a class="nav-bar__dropdown-content__item">Education & Learning</a>
                    </li>
                    <li>
                        <a class="nav-bar__dropdown-content__item">Lifestyle & Preferences</a>
                    </li>
                    <li>
                        <a class="nav-bar__dropdown-content__item">Technology & Innovation</a>
                    </li>
                </menu>
            </div>
        </nav>
        <div class="all-surveys-section__surveys">
            @if (surveys().length > 0) {
                @for (survey of surveys(); track $index) {
                    <app-survey-card [survey]="survey" listType="recently_edited" [showsEndingSoonCard]="false"></app-survey-card>
                }
            } @else {
                <p>No recently edited surveys.</p>
            }
        </div>
    </section>
</div>          
