.main_content_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1260px;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}