@use '../../styles/abstract/color_variables' as colors;
@use '../../styles/layout/header.scss';
@use '../../styles/layout/page_shell.scss';
@use '../../styles/vendor/mixin' as mixins;

.dialog-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 60px 60px 60px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: colors.$dark_purple;
    border-radius: 5px;
    border-top-right-radius: 100px;
    z-index: 101;

}
.dialog-container-header{
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__state{
        color: colors.$gothic_purple;
        font-family: var(--font-family-text-semi-bold);
        font-size: 1rem;
        margin: 0;
        padding: 3px 12px 3px 8px;
        background-color: colors.$secondary_orange;
        border-top-right-radius: 14px;
        width: fit-content;
    }

    &__headline-cancel-button-container{
        display: flex;
        justify-content: space-between;
        align-items: end;

        app-button{
            --button-primary-bg: #{colors.$light_orange_transparent_1};
            --button-primary-hover-bg: #{colors.$light_orange_transparent_2};
            --button-primary-color: #{colors.$light_purple_3};
        }
    }

    &__title{
        font-family: var(--font-family-headlines);
        font-size: 3.375rem;
        line-height: 100%;
        font-weight: 400;
        margin: 0;
        color: colors.$primary_orange;
    }
}

.dialog-container-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 32px 0 48px 0;
    padding: 40px 33px; 
    background-color: colors.$light_purple_4;
    border-radius: 5px;
    border-top-right-radius: 80px;
    color: colors.$light_purple_3;
    font-family: var(--font-family-text-bold);
    font-size: 1.125rem;

    &__label{
        margin: 0;

        &--optional{
            font-family: var(--font-family-text-default);
            font-weight: 400;
        }
    }

    &__input{
        @include mixins.dialog-input();

        &::placeholder{
            color: colors.$dark_purple;
            opacity: 0.6;
        }

        &--textarea{
            height: 100%;
            box-sizing: border-box;
        }
    }

    &__question-container{
        display: flex;
        flex-direction: column;
        width: 50%;

        app-button{
            --button-primary-bg: #{transparent};
            --button-primary-hover-bg: #{transparent};
            --button-primary-color: #{colors.$light_purple_3};
        }
    }
}

.form-detail-container{
    display: flex;
    flex-direction: row;
    gap: 64px;

    &__icon-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        position: relative;
        width: 24px;
        height: 24px;

        &--icon-default{
            opacity: 1;
            cursor: pointer;
            position: absolute;
            // left: 100%;
        }
        &--icon-hover{
            opacity: 0;
            cursor: pointer;
            position: absolute;
        }

        &--icon-default:hover{
            opacity: 0;
        }

        &--icon-hover:hover{
            opacity: 1;
        }

       
    }

        &__input-container{
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            flex-grow: 1;

             &--description{
               align-items: flex-start;
            }
          
        }

        &--title-date-container{
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;
        }
        &--description-container{
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;
        }

        &--date-container{
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 50%;
            flex-grow: 1;
        }
        &--date-category-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 4px;
            width: 100%;
        }
    }

.dialog-container-footer{
    display: flex;
    justify-content: flex-end;
}