 <div class="menu-container">
    <button class="menu-container__button" (click)="toggleStateOfDropdownMenu()" [class.menu-container__button--is-open]="isMenuOpen">
        Sort by categories
        <div class="menu-container__button--arrow-container">
            <img src="/assets/icons/arrow_drop_down_open_default.png" alt="Arrow Down" class="menu-container__button--default-img">
            <img src="/assets/icons/arrow_drop_down_open_hover.png" alt="Arrow Down Hover" class="menu-container__button--hover-img">
            <img src="/assets/icons/arrow_drop_down_open_active.png" alt="Arrow Down Active" class="menu-container__button--active-img">
        </div>
    </button>
    <menu class="menu-container__dropdown-content" [class.menu-container__dropdown-content--is-open]="isMenuOpen">
        <li>
            <a class="menu-container__dropdown-content__item">Team Activities</a>
        </li>
        <li>
            <a class="menu-container__dropdown-content__item">Health & Wellness</a>
        </li>
        <li>
            <a class="menu-container__dropdown-content__item">Gaming & Entertainment</a>
        </li>
        <li>
            <a class="menu-container__dropdown-content__item">Education & Learning</a>
        </li>
        <li>
            <a class="menu-container__dropdown-content__item">Lifestyle & Preferences</a>
        </li>
        <li>
            <a class="menu-container__dropdown-content__item">Technology & Innovation</a>
        </li>
    </menu>
    <p class="menu-container__selected-category">Team Activities</p>
</div>