@use '../../../styles/abstract/color_variables' as colors;

.dialog-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 0;
    overflow-y: auto;
    z-index: 200;
}

.dialog-overlay{
    position: fixed;
    background-color: colors.$light_pastel;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 201;
    padding: 14px 26px;
    box-sizing: border-box;
    border-radius: 5px;
    border-top-right-radius: 50px;
    gap: 15px;
    max-width: 300px;
    transform: translateY(100vh);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    opacity: 0;

    &--visible{
        display: flex;
        opacity: 1;
        transform: translateY(50vh);   
    }

    span{
        color: colors.$dark_purple;
        font-family: var(--font-family-headlines);
        font-size: 1.5rem;
    }

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px 0;

        img{
            width: 24px;
            height: 24px;
        }
    }
}