@if(currentQuestionGroup){
<div class="dialog-question-option-block-shell">
    <div class="dialog-question-option-block-header">
        <label for="question_title_{{question.clientId}}" class="dialog-question-option-block-header__question-title">{{questionNumber}}. Question</label>
        <div class="dialog-question-option-block-header__icon-container">
            <img src="/assets/icons/delete-icon-default.png" class="dialog-question-option-block-header__icon-container--icon-default" alt="delete icon">
            <img src="/assets/icons/delete-icon-hover.png" class="dialog-question-option-block-header__icon-container--icon-hover" alt="delete hover icon">
        </div>
    </div>
    <input id="question_title_{{question.clientId}}" type="text" name="question" class="dialog-question-option-block-input" formControlName="title">
    <div class="dialog-question-option-block-options-header">
        <p class="dialog-question-option-block-options-header__title">Answers</p>
        <div class="dialog-question-option-block-options-header__multiple-options-container">
             <app-form-checkbox [control]="multipleControl" [isCheckboxForMultipleOptions]="true"></app-form-checkbox>
            <label for="multiple_options_{{question.clientId}}" class="dialog-question-option-block-options-header__multiple-options-container--checkbox-label">Allow multiple answers.</label>
        </div>
    </div>
    <div class="dialog-question-option-block-option-container" formArrayName="options">
        @for (option of options.controls; track $index; let j = $index) {
             <app-dialog-question-option 
                [order_letter]="order_letter_array[j]" 
                [formGroupName]="j"
                [optionIndex]="j"
                [questionIndex]="questionIndex()">
            </app-dialog-question-option>
        }
    </div>
    <div class="dialog-question-option-block-add-option-button-container">
        <app-button [buttonType]="'tertiary'" [text]="'Add answer'" [hideIcon]="false" (click)="addOption()"></app-button>
    </div>
</div>
}