<div class="main_content_wrapper align-start body-color">
    <header>
        <a href="/dashboard">
            <img src="/assets/images/logo_purple_dark.png" alt="Logo">
        </a>
        <app-button [buttonType]="'primary'" [text]="'Create survey'" (click)="surveyService.openSurveyDialog()"></app-button>
    </header>
    <div class="survey-detail-shell">
        @if (survey(); as survey) {
        <section class="survey-detail-container">
            <div class="survey-detail-container__wrapper">
                <div class="survey-detail-header">
                    <p class="survey-detail-header__state">Draft</p>
                    <div class="survey-detail-header__expiry-date-category-container">
                        <p class="survey-detail-header__expiry-date">Ends on {{survey.expiry_date}}</p>
                        <p class="survey-detail-header__category">Category: {{survey.category}}</p>
                    </div>
                    <h1 class="survey-detail-header__title">{{survey.title}}</h1>
                    <article class="survey-detail-header__description">{{survey.description}}</article>
                </div>
                <div class="survey-detail-body">
                    @if (loadingDone()) {
                        @for (item of questions(); track $index) {
                            <app-question-option-block [questionId]="item.id"></app-question-option-block>
                        }
                    }
                </div>
            </div>
            <div class="survey-detail-footer">
                <app-button [buttonType]="'primary'" [text]="'Complete survey'" [hideIcon]="true" (click)="completeSurvey()"></app-button>
            </div>
        </section>
        } @else {
            <section class="survey-detail-container">
                <p>Keine Umfrage ausgewählt.</p>
            </section>
        }
        <section class="survey-results-container">
            <h3 class="survey-results-title">Survey results <span>LIVE</span></h3>
            <div class="survey-results-body">
                <p class="survey-results-body__placeholder hidden">Results will be shown here after participants complete the survey.</p>
                <p class="survey-results-body__placeholder survey-results-body__no-answers hidden">There are no answers yet.</p>
                @for (item of questions(); track $index) {
                    <app-question-result-block [questionId]="item.id"></app-question-result-block>
                }
            </div>
        </section>
    </div>
</div>
<app-survey-dialog style="display: none;"></app-survey-dialog>