    
@use '../../styles/abstract/color_variables' as colors;
@use '../../styles/layout/header.scss';
@use '../../styles/layout/page_shell.scss';

.body-color{
    background-color: colors.$light_purple_3;
}

.survey-detail-shell{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px 0 0 0;
    max-width: 1100px;
    width: 100%;
    gap: 42px;
    box-sizing: border-box;
}

.survey-detail-container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: colors.$light_purple_4;
    border-top-right-radius: 160px;
}

.survey-detail-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 48px;
    gap: 8px;

    h1{
        font-family: var(--font-family-headlines);
        font-size: 3.5rem;
        line-height: 50px;
        font-weight: 400;
        margin: 0;
        color: colors.$primary_orange;
    }

    &__state{
        color: colors.$gothic_purple;
        font-family: var(--font-family-text-semi-bold);
        font-size: 1rem;
        margin: 0;
        padding: 3px 12px 3px 8px;
        background-color: colors.$primary_orange;
        border-top-right-radius: 14px;
        width: fit-content;
    }

    &__expiry-date-category-container{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        font-family: var(--font-family-text-articles);
        font-size: 0.875rem;
        color: colors.$dark_purple;
        margin: 0;    
    }

    &__expiry-date,
    &__category{
        margin: 0;
    }

    &__description{
        color: colors.$dark_purple;
        font-family: var(--font-family-text-articles);
        font-size: 1rem;
        line-height: 100%;
        margin: 0;
    }
}