    
@use '../../styles/abstract/color_variables' as colors;
@use '../../styles/layout/header.scss';
@use '../../styles/layout/page_shell.scss';

.body-color{
    background-color: colors.$light_purple_3;
}

.survey-detail-shell{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px 0 0 0;
    max-width: 1060px;
    width: 100%;
    gap: 42px;
    box-sizing: border-box;
}

.survey-detail-container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: colors.$light_purple_4;
    border-top-right-radius: 160px;
    gap: 24px;
}

.survey-detail-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    gap: 8px;

    h1{
        font-family: var(--font-family-headlines);
        font-size: 3.5rem;
        line-height: 50px;
        font-weight: 400;
        margin: 0;
        color: colors.$primary_orange;
    }

    &__state{
        color: colors.$gothic_purple;
        font-family: var(--font-family-text-semi-bold);
        font-size: 1rem;
        margin: 0;
        padding: 3px 12px 3px 8px;
        background-color: colors.$primary_orange;
        border-top-right-radius: 14px;
        width: fit-content;
    }

    &__expiry-date-category-container{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        font-family: var(--font-family-text-articles);
        font-size: 0.875rem;
        color: colors.$dark_purple;
        margin: 0;    
    }

    &__expiry-date,
    &__category{
        margin: 0 14px 0 0;

    }

    &__description{
        color: colors.$dark_purple;
        font-family: var(--font-family-text-articles);
        font-size: 1rem;
        line-height: 100%;
        margin: 0;
    }
}

.survey-detail-body{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;

    app-question-option-block{
        justify-self: start;
    }
}

@media (max-width: 900px) {
    .survey-detail-body{
        grid-template-columns: 1fr;
    }
    
}

.survey-detail-footer{
    display: flex;
    justify-content: flex-end;

    app-button{
        --button-primary-bg: #{colors.$light_orange_transparent_1};
        --button-primary-hover-bg: #{colors.$light_orange_transparent_2};
    }
}

.survey-results-container{
    margin-top: 142px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    gap: 24px;
}

.survey-results-title{
    font-family: var(--font-family-headlines);
    font-size: 2rem;
    color: colors.$gothic_purple;
    margin: 0 0 16px 0;
    font-weight: 400;

    span{
        font-family: var(--font-family-headlines);
        font-size: 2rem;
        color: colors.$light_orange;
        margin: 0;
    }
}

.survey-results-body{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;

    &__placeholder{
        font-family: var(--font-family-text-bold);
        font-size: 1.125rem;
        color: colors.$dark_purple;
        margin: 0;
        text-align: left;
    }

    &__no-answers{
        margin: 146px 0 0 0;
        text-align: center;
    }
}

.hidden{
    display: none;
}