@use '../../../styles/abstract/color_variables' as colors;
@use '../../../styles/vendor/mixin' as mixins;

.dialog-option-shell{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
}

.question-title{
    font-family: var(--font-family-text-bold);
    font-size: 1.125rem;
    color: colors.$light_purple_3;
    width: 24px;
}

.question-input{
    @include mixins.dialog-input();
}

.question__delete-button{
    position: relative;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: none;
    
    &--icon-default, &--icon-hover{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;   
    }
    &--icon-default{
        opacity: 1;
    }
    &--icon-hover{
        opacity: 0;
    }
    &--icon-default:hover{
        opacity: 0;
    }
    &--icon-hover:hover{
        opacity: 1;
    }
}

.dialog-option-error-message{
        @include mixins.error-message(colors.$primary_orange);

        &__text{
            @include mixins.error-message-text(
                colors.$primary_orange, 
                var(--font-family-text-default)
            );
            padding: 4px 0 0 30px;
        }
    }

.invalid_input{
    border: 3px solid colors.$primary_orange;
}
.invalid_label{
    color: colors.$primary_orange;
}