<div class="dialog-option-shell">
    <label for="option_order_letter_{{optionId}}" class="question-title">{{order_letter}}.</label>
    <div class="form-detail-container__icon-container">
        <img src="/assets/icons/delete-icon-default.png" class="form-detail-container__icon-container--icon-default" alt="delete icon">
        <img src="/assets/icons/delete-icon-hover.png" class="form-detail-container__icon-container--icon-hover" alt="delete hover icon">
    </div>
    <input id="option_order_letter_{{optionId}}" type="text" class="dialog-question-option-shell__input" placeholder="Question text">
</div>
