@use '../../../styles/abstract/color_variables' as colors;

.question-option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-family: var(--font-family-text-articles);
    font-size: 1rem;
    color: colors.$dark_purple;

    &__checkbox{
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 2px solid colors.$dark_purple;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            margin: 0;
            opacity: 0;
            cursor: pointer;
        }

        input[type="checkbox"]:checked {
            background-color: colors.$primary_orange;
            border-color: colors.$primary_orange;
        }
    }
}