@use '../../../styles/abstract/color_variables' as colors;

.question-option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-family: var(--font-family-text-default);
    font-size: 1rem;
    color: colors.$dark_purple;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
        background-color: colors.$secondary_orange_transparent;
    }

    &__checkbox{
        width: 15px;
        height: 15px;
        border-radius: 3px;
        box-sizing: border-box;
        border: 1.5px solid colors.$dark_purple;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;

        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
            cursor: pointer;
        }

        input[type="checkbox"]::before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            clip-path: polygon(24% 43%, 14% 52%, 37% 83%, 87% 23%, 79% 15%, 39% 63%);
            background-color: transparent;
        }
        
        input[type="checkbox"]:checked {
            border-radius: 3px;
            background-color: colors.$primary_orange;
        }
        
        input[type="checkbox"]:checked::before {
            background-color: colors.$dark_purple;
            display: block;
        }
    }

    &__order-letter{
        font-weight: 700;
    }

    &__label{
        margin: 0;
        cursor: pointer;
    }
}