@use '../../../styles/abstract/color_variables' as colors;

.question-option-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
    font-family: var(--font-family-text-default);
    font-size: 1rem;
    color: colors.$dark_purple;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
        background-color: colors.$secondary_orange_transparent;
    }

    &__order-letter{
        font-weight: 700;
    }

    &__label{
        margin: 0;
        cursor: pointer;
    }
}