$dark_purple: #35273A;
$gothic_purple: #221227;
$light_orange: #FFB770;
$secondary_orange: #FFCFA1;
$white: #FFFFFF;
$light_purple_1: #FAF5FE;
$light_purple_2: #F4E9FB;
$light_pastel: #FEE9D4;
$transparent_gray: rgba(217, 217, 217, 0.08);
$light_purple_3: #FEFDFF;