$dark_purple: #35273A;
$gothic_purple: #221227;
$light_orange: #FFB770;
$light_orange_transparent_1: #FFB7704D;
$light_orange_transparent_2: #FFB77099;
$primary_orange: #EE9236;
$secondary_orange: #FFCFA1;
$thirdary_orange: #D79451;
$secondary_orange_transparent: #FFCFA166;
$white: #FFFFFF;
$light_purple_1: #FAF5FE;
$light_purple_2: #F4E9FB;
$light_purple_3: #FEFDFF;
$light_purple_4: #8E70991A;
$light_pastel: #FEE9D4;
$light_gray: #EDEDED;
$transparent_gray: rgba(217, 217, 217, 0.08);
$red: #bc1010;