@font-face {
    font-family: "Nerko";
    src: url(../../../../public/assets/fonts/Nerko_One/NerkoOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish Regular";
    src: url(../../../../public/assets/fonts/Mulish/static/Mulish-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish Medium";
    src: url(../../../../public/assets/fonts/Mulish/static/Mulish-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish SemiBold";
    src: url(../../../../public/assets/fonts/Mulish/static/Mulish-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish Bold";
    src: url(../../../../public/assets/fonts/Mulish/static/Mulish-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Nokora Bold";
    src: url(../../../../public/assets/fonts/Nokora/static/Nokora-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Nokora Regular";
    src: url(../../../../public/assets/fonts/Nokora/static/Nokora-Regular.ttf) format("truetype");
}
